.Dashboard {
  margin: 0 8px;
  font-family: "Montserrat", sans-serif;
}

.divElem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 48px;
}

@media screen and (max-width: 992px) {
  .divElem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
