.edit-btn {
    border-radius: 8px;
    color: #1C86EE;
    background: white;
    border:1px solid #808080;
    margin-right: 4px;
}

.edit-btn:hover,
.edit-btn:active {
    color: white;
    background: #1C86EE;
}

.delete-btn {
    border-radius: 8px;
    color: #FF3161;
    background: white;
    border:1px solid #808080;
    margin-left: 4px;
}

.delete-btn:hover,
.delete-btn:active {
    color: white;
    background: #FF3161;
}

.table-row {
    background-color: gray;
}

/* #table-rows:hover {
    background-color: #E5E4E2;
} */

/* .table-input:hover {
    background: #808080;
} */

.table-cell:hover input:checked {
    background-color: red;
}

/* .table-input:checked:after {
    background-color: #808080;
} */