.table {
  margin-left: 4px;
}

.edit-btn {
  border-radius: 8px;
  color: #1c86ee;
  background: white;
  border: 1px solid #808080;
  margin-right: 4px;
}

.edit-btn:hover,
.edit-btn:active {
  color: white;
  background: #1c86ee;
}

.delete-btn {
  border-radius: 8px;
  color: #ff3161;
  background: white;
  border: 1px solid #808080;
  margin-left: 4px;
}

.delete-btn:hover,
.delete-btn:active {
  color: white;
  background: #ff3161;
}

.table-row {
  background-color: gray;
}

.update-btn {
  color: #3b3c36;
  background: white;
  border: 1px solid #3b3c36;
}
